!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-type', 'content' => 'text/html;charset=UTF-8' }
    %title
      = page.title
      \: massimo (a static website builder)
    %link{ :href => '/massimo/stylesheets/main.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
  %body
    #container
      #header
        %h1
          = link_to 'massimo', '/massimo/'
          %em a static website builder
        #download
          - link_to 'http://github.com/petebrowne/massimo/zipball/master' do
            = image_tag 'http://github.com/images/modules/download/zip.png', :width => 90, :height => 89
          - link_to 'http://github.com/petebrowne/massimo/tarball/master' do
            = image_tag 'http://github.com/images/modules/download/tar.png', :width => 90, :height => 89
      %ul#navigation
        %li= nav_link_to('Getting Started', '/massimo/', page)
        %li= nav_link_to('Usage', '/massimo/usage/', page)
        %li= nav_link_to('Structure', '/massimo/structure/', page)
        %li= nav_link_to('Configuration', '/massimo/configuration/', page)
        %li= nav_link_to('Resources', '/massimo/resources/', page)
        %li= nav_link_to('Metadata', '/massimo/metadata/', page)
      #content
        = find_and_preserve(yield)
      #footer
        get the source on GitHub:
        = link_to 'petebrowne/massimo', 'http://github.com/petebrowne/massimo'
    #ribbon
      - link_to 'http://github.com/petebrowne/massimo' do
        = image_tag 'http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png', :alt => 'Fork me on GitHub'